{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Une erreur est survenue. <a href="{{ path('homepage') }}">Retournez à la page d'accueil</a>.
    </p>
{% endblock %}
